.button {
  //
  @mixin mod($mod) {
    @include modifier("button", $mod) {
      @content;
    }
  }

  $t: 2s ease-in-out infinite;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include option(width, 196px, 142px);
  @include option(height, 48px, 35px);
  text-decoration: none;
  font-family: $BASE-FONT;
  @include option(font-size, 24px, 16px);
  color: $WHITE;
  border: none;
  letter-spacing: 0.01em;
  @include option(border-radius, 20px, 15px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  will-change: transform;
  box-sizing: border-box;
  @include mod("card") {
    border: 1px solid $WHITE;
    transition: border .3s ease-in-out;
  }


  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include option(border-radius, 20px, 15px);
    overflow: hidden;
    will-change: transform;
    background: #00AEC7;
    border: 1px dashed #00AEC7;
    transition: background-color .3s ease-in-out;
    box-sizing: border-box;
  }

  @include HOVER {
    &:hover .button__bg {
      background: $WHITE;
    }
    &:hover .button__text {
      color: #00AEC7;
    }
  }



  &__text {
    position: relative;
    z-index: 1;
    transition: color .3s ease-in-out;
  }
}
