@import "../../../../../node_modules/swiper/swiper";


@mixin mod($mod) {
  @include modifier("carousel", $mod){
    @content;
  }
}

.swiper-wrapper{
  .carousel_nomovedesk &{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}

.carousel {

  &_nomovedesk{
    overflow: visible;
  }
  &__list {
    height: 100%;
  }

}

.swiper-button-disabled {
  cursor: unset;
}

.swiper-slide{
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  flex: 0 0 auto;
}
