@import "../../../../../node_modules/swiper/swiper";


@mixin mod($mod) {
  @include modifier("carousel", $mod){
    @content;
  }
}

.swiper-wrapper{
  .carousel_nomovedesk &{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}

.carousel {

  &_nomovedesk{
    overflow: visible;
  }
  &__list {
    height: 100%;
  }

}

.swiper-button-disabled {
  cursor: unset;
}

.swiper-slide{
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.swiper-pagination-bullet {
  position: relative;
  @include option(width, 12px, 9px);
  @include option(height, 12px, 9px);
  border: 1px solid rgba(44, 62, 80, 0.3);
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #2DB5D3;
      opacity: 0;
      transition: opacity .1s ease-in-out;
  }
  &-active {
      border: 1px solid rgba(#2DB5D3, 1);
      &::after {
          opacity: 1;
      }
  }
}