.about {
    @mixin mod($mod) {
        @include modifier("about", $mod) {
            @content;
        }
    }

    &__content {
        @include wrapper();
        @include option(padding, 9px 0 218px, 53px 0 100px);
    }

    &__workers {
        position: relative;
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        @include option-mob(width, 43px);
        @include option-mob(margin, 35px auto 0);
        @include DESKTOP {
            display: none;
        }
    }

    &__worker {
        position: relative;
        @include option(padding, 116px 545px 150px 78px, 0);
        letter-spacing: 0.001em;
        box-sizing: border-box;
        &-text {
            @include option-mob(padding, 0 32px 0 11px);
            box-sizing: border-box;
        }
        &-name {
            @include option(font-size, 24px);
            font-weight: bold
        }
        &-function {
            @include option(margin, 6px 0 20px, 10px 0 20px);
            @include option(font-size, 16px);
            @include MOBILE {
                line-height: 1.3;
            }
        }
        &-info {
            @include option(font-size, 16px, 14px);
            @include MOBILE {
                line-height: 1.5;
            }
        }
        &-preview {
            position: absolute;
            top: 0;
            right: 0;
            @include option(width, 448px, 234px);
            @include option(height, 499px, 261px);
            @include option(margin, 5px 0 0 auto);
            @include MOBILE {
                position: relative;
                top: auto;
            }
        }
        &-bg {
            position: absolute;
            @include option(top, 50px,25px);
            @include option(right, 1px);
            @include option-mob(height, 201px);

            
        }
        &-photo {
            width: 100%;
            height: 100%;
        }
    }

    &__navbar {
        display: flex;
        justify-content: space-between;
        position: absolute;
        @include option-desk(bottom, 75px);
        @include option-desk(left, 79px);
        @include option-desk(width, 73px);
        z-index: 10;
        @include MOBILE {
            display: none
        }
    }

    &__nav {
        @include option(width, 25);
        @include option(height, 25);
        cursor: pointer;
        svg {
            width: 100%;
            height: 100%;
        }
        &_prev {
            svg {
                transform: rotate(180deg);
            }
        }
        

    }

}