mixin about(content,params)
    section.about&attributes(content.attr||false)&attributes(attributes)
        .about__bg 
        .about__content
            .about__workers
                +carousel(content.list, {mixin: "about__worker", id:"3"})
                .about__navbar
                    .about__nav.about__nav_prev
                        include arrow.svg
                    .about__nav.about__nav_next
                        include arrow.svg
                .about__pagination
                    


mixin about__worker(content,params)
    .about__worker&attributes(content.attr||false)&attributes(attributes)
        .about__worker-text
            .about__worker-name !{content.name}
            .about__worker-function !{content.function}
            .about__worker-info !{content.info}
        .about__worker-preview
            .about__worker-bg
                +picture(content.bg)
            .about__worker-photo
                +picture(content.image)


