/**
* breakpoints
*/
$MOBILE: 320px;
$TABLET: 769px;
$TABLET-L: 1024px;
$DESKTOP: 1279px;

/**
 * font-family
 */
$BASE-FONT: 'TrebuchetMS', Helvetica, sans-serif;

/**
 * color
 */
$WHITE: #FFFFFF;
$BLACK: #000000;

/**
 * z-layer
 */


/**
 * font-weight
 */


/**
 * other
 */

$DESIGN-W: 1249px;
$DESIGN-H: 600px;
$DESIGN-W-M: 414px;

$WRAPPER-D: 1092px;
$WRAPPER-D-M: 375px;
