/**
* breakpoints
*/
$MOBILE: 320px;
$TABLET: 769px;
$TABLET-L: 1024px;
$DESKTOP: 1279px;

/**
 * font-family
 */
$BASE-FONT:  'Montserrat', Helvetica, sans-serif;

/**
 * color
 */
$WHITE: #FFFFFF;
$BLACK: #000000;

/**
 * z-layer
 */


/**
 * font-weight
 */


/**
 * other
 */

$DESIGN-W: 1440px;
$DESIGN-H: 800px;
$DESIGN-W-M: 414px;

$WRAPPER-D: 1200px;
$WRAPPER-M: 375px;
