@mixin modifier($class, $mod) {
  $modTmp: unquote("");
  @if type-of($mod) == list {
    @each $m in $mod {
      $modTmp: $modTmp + unquote(".#{$class}_#{$m}");
    }
  } @else {
    $modTmp: unquote(".#{$class}_#{$mod}");
  }

  ///@debug nth(nth(&, 1), 1);
  $first-class: split-pseudo-class(nth(nth(&, 1), 1));
  @if length($first-class) > 1 {
    @for $i from 2 through length($first-class) {
      $modTmp: $modTmp + unquote("::") + nth($first-class, $i);
    }
  }

  @if (nth($first-class, 1) != unquote(".#{$class}")) {
    $modTmp: $modTmp + unquote(" &");
  }

  @at-root #{$modTmp} {
    @content;
  }
}



@mixin hover($selector: false){
  @if $selector {

    @include DESKTOP(){
      #{$selector}:hover & {
        @content
      }
    }
    @include NOT-DESKTOP(){
      #{$selector}:active & {
        @content
      }
    }
  }
  @else {
    @include DESKTOP(){
      &:hover {
        @content
      }
    }
    @include NOT-DESKTOP(){
      &:active {
        @content
      }
    }
  }
}



@mixin option($n, $v, $vm: $v, $vt: $vm) {
  @include DESKTOP{
    #{$n}: $v;
  }
  @include TABLET-L{
    #{$n}: $v;
  }
  @include MOBILE{
    #{$n}: $vm;
  }
  @include TABLET{
    #{$n}: $vt;
  }
}

@mixin option-desk($n, $v) {
  @include DESKTOP{
    #{$n}: $v;
  }
  @include TABLET-L{
    #{$n}: $v;
  }
}

@mixin option-mob($n, $vm, $vt: $vm) {
  @include MOBILE{
    #{$n}: $vm;
  }
  @include TABLET{
    #{$n}: $vt;
  }
}


@mixin wrapper($w: $WRAPPER-D, $wm:$WRAPPER-D-M){
  @include option(width, $w, $wm);
  margin: 0 auto;
  // max-width: 90%;
  box-sizing: border-box;
  position: relative;

  @include MOBILE{
    max-width: 100%;
  }
}